.container{
    width:  100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .cuadro {
    height: 100px;
    width: 100px;
    background-color: red;
    
} */

.mb-1 {
    margin-bottom: 1rem !important;
}

body{
    background-color: black;
}

label{
    color: white;
    display: block;
}

check-list{
    display: flex;
    flex-direction: column;
}


.radio label {
    display: inline;
}